In [1]:
import pandas as pd
import numpy as np
import random as rd

In [2]:
# read in csv
df = pd.read_csv("../data/professorData.csv")

In [5]:
# check the head and tail
#df.head()
df.tail()

,FullName,Email,Title,Department,College
1882,Paul Kirwan,paul.kirwan@ucr.edu,Lecturer,Academic Affairs Ops,University Extension
1883,Christine Petzar,NAN,Lecturer in Education,NAN,University Extension
1884,Lorna K Seitz,lorna.seitz@ucr.edu,Lecturer,International Programs,University Extension
1885,Nidhi Shah,nidhi.shah@ucr.edu,Lecturer,Professional Programs,University Extension
1886,Michael R Towne,michael.towne@ucr.edu,Lecturer,Custom & Community Pgms,University Extension

In [6]:
# get the column names
df.columns.values

array(['FullName', 'Email', 'Title', 'Department', 'College'],
      dtype=object)

In [8]:
# replacing NAN with NA so that I can see Null and non-null count
df = df.iloc[:,:].replace("NAN",np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1887 entries, 0 to 1886
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FullName    1887 non-null   object
 1   Email       1851 non-null   object
 2   Title       1887 non-null   object
 3   Department  1870 non-null   object
 4   College     1887 non-null   object
dtypes: object(5)
memory usage: 73.8+ KB

In [9]:
# look through all rows and cols for NAs
df[df.isnull().any(axis=1)].head()

,FullName,Email,Title,Department,College
0,Y Paul Aoyagi,NaN,Clinical Professor,Biomedical Sciences,Biomedical Sciences
11,Fred Z Havens,NaN,Assistant Clinical Professor,Biomedical Sciences,Biomedical Sciences
15,William Junkert Jr,NaN,Clinical Professor,Biomedical Sciences,Biomedical Sciences
18,Walter M Marcus,NaN,Clinical Professor,Biomedical Sciences,Biomedical Sciences
29,Steven Wilson MD,NaN,Assistant Clinical Professor,Biomedical Sciences,Biomedical Sciences

In [47]:
# keeping by last, bc biomedical sciences isnt too popular
# also Daniel R. Jeske is provost now, not chancellor
df[df.duplicated('FullName',keep='last')].sort_values(by='FullName').head()
df = df[~df.duplicated('FullName',keep='last')].sort_values(by='FullName')

In [48]:

#[df.loc[index,'College'] == 'School of Medicine' for index in df.index if df.loc[index,'College'] == 'Biomedical Sciences']
df.loc[:,'College'].replace('Biomedical Sciences',"School of Medicine",inplace=True)

# double check to see if biomedical sciences is still there
df[df['College']=="Biomedical Sciences"]

Empty DataFrame
Columns: [FullName, Email, Title, Department, College]
Index: []

In [49]:
df[df['Title'].str.lower().str.contains("emeritus|emerita|emeriti")].head()

,FullName,Email,Title,Department,College
304,Alan G Fix,alan.fix@ucr.edu,"Professor of Anthropology, Emeritus",Anthropology,"Coll of Hum, Arts & Social Sci"
222,Alan R Beals,alan.beals@ucr.edu,"Professor of Anthropology, Emeritus",Anthropology,"Coll of Hum, Arts & Social Sci"
861,Albert L Page,albert.page@ucr.edu,Professor Emeritus of Soil Science & Chemist,Environmental Sciences,College of Nat & Agr Sciences
441,Alexandra Maryanski,alexandra.maryanski@ucr.edu,Emeritus Professor,Sociology,"Coll of Hum, Arts & Social Sci"
703,Allan Dodds,allan.dodds@ucr.edu,"Professor & Plant Pathologist, Emeritus",Microbiology & Plant Pathology,College of Nat & Agr Sciences

In [50]:
# emeritus means retired 
df = df[~df['Title'].str.lower().str.contains("emeritus|emerita|emeriti")]
df[df.isnull().any(axis=1)]

,FullName,Email,Title,Department,College
1883,Christine Petzar,NaN,Lecturer in Education,NaN,University Extension
1785,Corrie Jane Neighbors,NaN,Lecturer,NaN,College of Nat & Agr Sciences
1846,Dan Hepler,NaN,Lecturer,NaN,Undergraduate Education
1863,Dio Saucedo,NaN,Lecturer,NaN,Undergraduate Education
1298,Fred Z Havens,NaN,Assistant Clinical Professor,Biomedical Sciences,School of Medicine
1740,Hiroko Inoue,NaN,Lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1766,Jennifer Kimea Simmers,NaN,Lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1755,Jennifer Ramos,NaN,French Lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1744,Kelli Cathleen King,NaN,Lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1825,Kenneth Weigel,NaN,Lecturer,NaN,School of Business
1880,Natasha Shantel Ferrell,NaN,Lecturer,NaN,University Extension
1721,Nicoletta Da Ros,NaN,lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1688,Nissim Amos,NaN,Lecturer,NaN,Bourns College of Engineering
1787,Ramon B Barreras,NaN,Lecturer,NaN,Graduate School of Education
1699,Ryan Rusich,NaN,Lecturer,NaN,Bourns College of Engineering
1840,Stephanie M Fousek,NaN,Lecturer,NaN,Undergraduate Education
1651,Steven Wilson MD,NaN,Assistant Clinical Professor,Biomedical Sciences,School of Medicine
1557,Uziel Sauceda,NaN,"Assistant Clinical Professor, Health Sciences",NaN,School of Medicine
1436,Walter M Marcus,NaN,Clinical Professor,Biomedical Sciences,School of Medicine
1343,William Junkert Jr,NaN,Clinical Professor,Biomedical Sciences,School of Medicine
1111,Y Paul Aoyagi,NaN,Clinical Professor,Biomedical Sciences,School of Medicine

In [51]:
deceased = ['Fred Z Havens','William Junkert Jr']
new_practice = ['Steven Wilson MD','Uziel Sauceda','Walter M Marcus']
no_info = ['Y Paul Aoyagi']

filters = deceased + new_practice + no_info
df[df['FullName'].str.contains("|".join(filters))]

,FullName,Email,Title,Department,College
1298,Fred Z Havens,NaN,Assistant Clinical Professor,Biomedical Sciences,School of Medicine
1651,Steven Wilson MD,NaN,Assistant Clinical Professor,Biomedical Sciences,School of Medicine
1557,Uziel Sauceda,NaN,"Assistant Clinical Professor, Health Sciences",NaN,School of Medicine
1436,Walter M Marcus,NaN,Clinical Professor,Biomedical Sciences,School of Medicine
1343,William Junkert Jr,NaN,Clinical Professor,Biomedical Sciences,School of Medicine
1111,Y Paul Aoyagi,NaN,Clinical Professor,Biomedical Sciences,School of Medicine

In [52]:
df = df[~df['FullName'].str.contains("|".join(filters))]

In [55]:
# double check for na's
df[df.isnull().any(axis=1)]

,FullName,Email,Title,Department,College
1883,Christine Petzar,NaN,Lecturer in Education,NaN,University Extension
1785,Corrie Jane Neighbors,NaN,Lecturer,NaN,College of Nat & Agr Sciences
1846,Dan Hepler,NaN,Lecturer,NaN,Undergraduate Education
1863,Dio Saucedo,NaN,Lecturer,NaN,Undergraduate Education
1740,Hiroko Inoue,NaN,Lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1766,Jennifer Kimea Simmers,NaN,Lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1755,Jennifer Ramos,NaN,French Lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1744,Kelli Cathleen King,NaN,Lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1825,Kenneth Weigel,NaN,Lecturer,NaN,School of Business
1880,Natasha Shantel Ferrell,NaN,Lecturer,NaN,University Extension
1721,Nicoletta Da Ros,NaN,lecturer,NaN,"Coll of Hum, Arts & Social Sci"
1688,Nissim Amos,NaN,Lecturer,NaN,Bourns College of Engineering
1787,Ramon B Barreras,NaN,Lecturer,NaN,Graduate School of Education
1699,Ryan Rusich,NaN,Lecturer,NaN,Bourns College of Engineering
1840,Stephanie M Fousek,NaN,Lecturer,NaN,Undergraduate Education

In [54]:
df.head()

,FullName,Email,Title,Department,College
882,A. L. N. Rao,a.rao@ucr.edu,Professor of Plant Pathology & Microbiology,Microbiology & Plant Pathology,College of Nat & Agr Sciences
1399,Aaron Lee,aaron.lee@ucr.edu,Assistant Clinical Professor,SOM Medicine,School of Medicine
1861,Aaron Potter,aaron.potter@ucr.edu,Lecturer,University Writing Program,Undergraduate Education
535,Aaron Seitz,aaron.seitz@ucr.edu,Professor of Psychology,Psychology,"Coll of Hum, Arts & Social Sci"
182,Aaron Wiest,aaron.wiest@ucr.edu,Adjunct Professor NAVSEA Scientist,Material Sci/Engr Pgm,Bourns College of Engineering

In [33]:
df['Title'].unique()

array(['Professor of Plant Pathology & Microbiology',
       'Assistant Clinical Professor', 'Lecturer',
       'Professor of Psychology', 'Adjunct Professor NAVSEA Scientist',
       'Assistant Clinical Professor, Health Sciences',
       'Associate Professor of Geophysics', 'Professor of Sociology',
       'Professor, Biomedical Sciences', 'Assistant Professor',
       'Associate Clinical Professor, Health Sciences',
       'Professor and Geneticist',
       'Assistant Professor of Operations & Supply Chain Management',
       'Associate Professor of Parasitology & Associate Nematologist',
       'Associate Clinical Professor', 'Associate Professor',
       'Clinical Professor, Health Sciences',
       'Adjunct Associate Professor', 'Professor',
       'Assistant Professor, Dept. of EEOB',
       'Professional Researcher & Adjunct Professor',
       'Distinguished Professor', 'Assistant Professor of Finance',
       'Asst. Professor of Cooperative Extension in Plant Pathology',
       'Distinguished Professor of Entomology',
       'Professor of Sociology & Ethnic Studies', 'Clinical Professor',
       'Assistant Teaching Professor', 'Professor of Biomedical Sciences',
       'Associate CE Professor of Water Management',
       'Professor & Chair of Robotics, Bourns Family Faculty Fellow',
       'Distinguished Professor of Management',
       'Assistant Professor of Teaching',
       'Associate Professor and Plant Evolution & Develop Biologist',
       'Visiting Assistant Professor', 'Associate Professor of English',
       'Professor of CE in Nematology and Nematologist',
       'Assistant Professor of Watershed Hydrology',
       'Associate Adjunct Professor', 'Associate Professor, CHC, SMPPH',
       'Associate Professor of Creative Writing', 'Professor & Chair',
       'Associate Professor of Geology', 'Professor of Geology',
       'Associate Professor SMPPH', 'Asst Professor',
       'Professor of Teaching, Theatre, Film, and Digital Production',
       'Professor of Dance', 'Professor - AY',
       'Professor of the Graduate Division and Botanist',
       'Distinguished Professor of Public Policy',
       'Assistant Professor, Engish',
       'Assistant Adjunct Professor, Pediatrics',
       'Associate Professor of Marketing', 'Professor of Marketing',
       'Professor Of Psychology/Cell Biology and Neuroscience',
       'Professor of Bioengineering', 'Professor and Ecologist',
       'Professor of Accounting',
       'Associate Dean of Academic Personnel & Professor',
       'Professor of Theatre, Film, and Digital Production',
       'Associate Professor of Public Policy and Political Science',
       'Lecturer in Classics', 'Professor of Chemistry',
       'Associate Professor of Management', 'Professor of Entomology',
       'Associate Professor, CHC', 'Associate Professor of Teaching',
       'Distinguished Professor in the Graduate Division',
       'Professor of Public Policy',
       'Distinguished Professor of Public Policy and Sociology',
       'Professor of Mathematics', 'Professor of Music',
       'Assistant Professor of Mathematics',
       'Professor of the Graduate Division and Plant Physiologist',
       'Associate Professor of Plant Pathology & Plant Pathologist',
       'Associate Professor and Plant Cell Biologist',
       'Professor of Education', 'Associate Professor of Chemistry',
       'Misc. part-time Lecturer',
       'Associate Researcher & Adjunct Professor',
       'Assistant Professor of Marketing', 'Adjunct Professor of Biology',
       'Associate Professor, Biomedical Sciences', 'Lecturer in French',
       'Lecturer in Education', 'Associate Professor, Dept. of EEOB',
       'Assistant Adjunct Professor', 'BCOE Dean & Professor',
       'Costo Distinguished Professor of American Indian Affairs',
       'Associate Professor of Pedology',
       'Assistant Professor and Geneticist',
       'Professor of Psychology and Chair', 'Professor and Vice Provost',
       'Associate Professor of Operations & Supply Chain Management',
       'Professor and Landscape Ecologist',
       'Distinguished Professor of Psychology',
       'Distinguished Professor of English',
       'Professor of Environmental Toxicology',
       'Continuing Lecturer of Chemistry', 'Adjunct Professor',
       'Associate Professor of Genetics', 'Professor of Geophysics',
       'Distinguished Professor, Dept. of EEOB',
       'Assistant Professor of Teaching, Mathematics (PSOE)',
       'Assistant Professor of Genetics and Genomics',
       'Adjunct Assistant Professor',
       'Professor in Residence, Biomedical Sciences',
       'Professor of Biology', 'Professor & Assoc. Director, CE-CERT',
       'Associate Professor of Theatre, Film, and Digital Production',
       'Assoc C/E Specialist and Assoc Professor',
       'Professor of the Graduate Division',
       'Professor & Graduate Advisor',
       'Adjunct Assistant Professor of Environmental Economics',
       'Assistant Professor of Astrobiology', 'Lecturer in Russian',
       'Associate Adjunct Professor of Earth Sciences',
       'Associate Professor of Operations and Supply Chain Mgt',
       'lecturer', 'Assistant Professor of Accounting',
       'Assistant Professor, Biomedical Sciences',
       'Professor of Theatre, Film and Digital Production',
       'Professor & Chair of Electrical and Computer Engineering',
       'Professor of Ecology', 'Professor of Cell Biology & Toxicologist',
       'Assistant Professor of Climate Change & Sustainability',
       'Distinguished Professor of Chemistry',
       'Professor of Mathematics, Department Chair',
       'Assistant Professor of English', 'Professor of Seismology',
       'Professor & UC Extension Specialist in Plant Pathology',
       'Professor of Earth Sciences',
       'Assistant Professor of Teaching in Finance',
       'Professor & Department of Mechanical Engineering Chair',
       'Distinguished Professor of Graduate Division',
       'Assistant Professor of Management',
       'Professor And Plant Molecular Geneticist Biology',
       'Professor & Bourns Family Faculty Fellow',
       'Assistant Professor of Chemistry',
       'Assistant Professor of Geology',
       'Lecturer in Linguistics and German', 'Professor, Dept.of EEOB',
       'Associate Professor of Groundwater Hydrology',
       'Lecturer & Adjunct Professor', 'Professor & Plant Pathologist',
       'Associate Professor of Bioengineering',
       'Associate Professor of Accounting',
       'Graduate Advisor & Associate Professor', 'Professor of Teaching',
       'Assistant Professor and Plant Cell & Developmental Biologist',
       'Professor and Plant Pathologist',
       'Associate Professor and Vice Chair',
       'Associate Professor of Mathematics',
       'Distinguished Research Professor',
       'Distinguished Professor and Biogeographer',
       'Associate Professor and Chair',
       'Professor of Environmental Chemistry & Environmental Chemist',
       'Professor of Finance, Anderson Chair in Finance',
       'Associate Professor of Islamic Literature',
       'Associate Professor of Cell Biology', 'Professor of English',
       'Associate Professor & Chair', 'French Lecturer',
       'Asst Professor in Biochemistry',
       'Professor of Hydrology & Hydrologist', 'Professor, Dept. of EEOB',
       'Associate Professor of Comp Lit & German',
       'University Professor & Distinguished Professor of Sociology',
       'Associate Professor of Music', 'Assisant Professor',
       'Associate Professor and Plant Physiologist',
       'Associate Professor & Chair of MSE Program',
       'Distinguished Professor and Geneticist',
       'Distinguished Professor and Molecular Biochemist',
       'Lecturer with Security of Employment',
       'Assistant Professor of Entomology',
       'Associate Professor of Teaching, Mathematics (LSOE)',
       'Professor of Political Science and Public Policy',
       'Vietnamese Lecturer',
       'Associate Professor of Clinical Psychiatry',
       'Professor, Dept. of EEOB; Director of Natural Reserve System',
       'Assistant Professor of Environmental Science/Statistics',
       'Associate Dean/Chair & Professor of Public Policy',
       'Assistant Professor of Teaching in Management',
       'Lecturer in Japanese', 'Professor of Creative Writing',
       'Professor of Soil Science/CE', 'Professor of Chemistry & Chair',
       'Professor & Chair, Dept. of EEOB',
       'Associate Professor of Biochemistry and Biochemist',
       'Associate Professor of Dance and Graduate Advisor',
       'Professor of Comparative Literature',
       'Assistant Professor and Plant Ecologist',
       'Interim Dean & Professor',
       'Professor and Physiological Ecologist',
       'Professor, Cell Biology & Neuroscience',
       'Professor & Associate Dean for Academic Personnel',
       'Professor of Neuroscience', 'Lecturer in Spanish',
       'Distinguished Professor of Mathematics',
       'Professor of Environmental Engineering',
       'Professor and Associate Dean', 'Associate Professor of Spanish',
       'Distinguished Professor of Geology',
       'Professor and CE-CERT Director',
       'Associate Professor of Sociology',
       'Assistant Professor of CE in Public Policy',
       'Professor and Chair', 'Professor and Cell Biologist',
       'Professor of Entomology and Neuroscience',
       'Associate Professor In Physics Instruction',
       'Professor & Maimonides Endowed Chairholder',
       'Professor of French & Comparative Literature',
       'Professor of Psychology and Vice Chair',
       'Professor of Operations and Supply Chain Management',
       'Associate Professor of History', 'Chair and Professor of Biology',
       'Distinguished Professor of the Graduate Division',
       'Lecturer in Italian',
       'Professor & Dr. Jasbir Singh Saini Endowed Chair',
       'Department Chair, Professor and Geneticist',
       'Professor Of Biochemistry & Biochemist',
       'Assistant Professor and Plant-Insect Ecologist',
       'Professor of Finance', 'Professor of Spanish',
       'Professor of Cell Biology', 'Professor of Practice',
       'Distinguished Professor & CSE Vice Chair',
       'Misc. Part-time Lecturer',
       'Associate Dean for Grad. Programs, & Professor of Marketing',
       'Associate Professor of Public Policy',
       'Professor of Cell Biology & Neuroscience',
       'Distinguished Professor of Spanish',
       'Assistant Professor of Teaching in Information Systems',
       'Professor of Geography',
       'Director, University Honors; Professor, Dept. of EEOB',
       'Professor, Biochemistry Department',
       'Adjunct Professor of Accounting',
       'Professor of Finance, Philip L. Boyd Chair',
       'Professor of Entomology and Department Chair',
       'Chair & Professor of Theatre, Film, and Digital Production',
       'Distinguished Professor of Entomology and A.M. Boyce Chair',
       'Associate Professor of Earth Sciences',
       'Interim Associate Dean & Associate Professor',
       'Assistant Professor of Seismology', 'Professor & ECE Vice Chair',
       'Chair & Professor of Music', 'Asst Professor of Virology',
       'Professor of Atmospheric Science', 'Professor, Biochemistry',
       'German Lecturer', 'Assistant Professor of Soil Biogeochemistry',
       'Associate Professor of Paleoclimate / Paleoceanography',
       'Associate Professor of Neuroscience',
       'Clinical Assistant Professor, Health Sciences',
       'Distinguished Professor and Plant Cell Biologist',
       'Associate Professor of Public Policy and Sociology',
       'Lecturer of Chinese',
       'Assocaite Clinical Professor, Health Sciences',
       'Professor & CSE Vice Chair',
       'Professor of Planetary Astrophysics',
       'Distinguished Professor of Sociology and Public Policy',
       'Professor of Marketing, Albert O. Steffey Chair',
       'Distinguished Professor of Creative Writing',
       'Distinguished Professor of Audit & Assurance',
       'Adjunct Asst. Professor/Natural Resource Specialist',
       'Distinguished Professor of Anthropology',
       'Professor and Plant Cell Biologist',
       'Professor of Bioinformatics',
       'Professor of Education and Public Policy', 'MSOL Lecturer',
       'Distinguished Professor of Biogeochemistry',
       'Adjunct Professor and Chair',
       'Chair & Distinguished Professor of Creative Writing',
       'Assistant Professor - AY',
       'Professor & Vice Chair, Dept. of EEOB',
       'Assistant Professor of Atmospheric Dynamics and Modeling',
       'Professor of Spanish & Portuguese', 'Professor of Statistics',
       'Professor of Biochemistry',
       'Distinguished Professor and Plant Cell & Molecular Biologist',
       'Associate Professor of Chinese', 'Associate Professor of Finance',
       'Distinguished Teaching Professor and Professor of Chinese',
       'Assistant Professor of Environmental Toxicology',
       'Korean Lecturer', 'Associate Professor and Geneticist'],
      dtype=object)

In [34]:
df['Title'].describe()

count                             1602
unique                             288
top       Assistant Clinical Professor
freq                               364
Name: Title, dtype: object

In [36]:
mydict = {"Assistant": "Assistant Professor", "Associate": "Associate Professor", "Distinguished": "Distinguished Professor", "Dean": "Dean", "Chair": "Chair", "Lecturer":"Lecturer"}

# df = df.drop(columns='TitleNew')

for key, value in mydict.items():
    to_change = df['Title'].str.contains(key)
    df.loc[to_change,'TitleNew'] = value

df = df.fillna('Professor')
df = df.drop(columns='Title')

df.head()

,FullName,Email,Department,College,TitleNew
882,A. L. N. Rao,a.rao@ucr.edu,Microbiology & Plant Pathology,College of Nat & Agr Sciences,Professor
1399,Aaron Lee,aaron.lee@ucr.edu,SOM Medicine,School of Medicine,Assistant Professor
1861,Aaron Potter,aaron.potter@ucr.edu,University Writing Program,Undergraduate Education,Lecturer
535,Aaron Seitz,aaron.seitz@ucr.edu,Psychology,"Coll of Hum, Arts & Social Sci",Professor
182,Aaron Wiest,aaron.wiest@ucr.edu,Material Sci/Engr Pgm,Bourns College of Engineering,Professor

In [37]:
df.groupby(['TitleNew']).nunique()
# only 10 adjunct professors, so remove that filter

                         FullName  Email  Department  College  TitleNew
TitleNew
Assistant Professor           651    651          53        8         1
Associate Professor           304    304          53        7         1
Chair                          40     40          28        5         1
Dean                            7      7           5        3         1
Distinguished Professor        65     65          25        6         1
Lecturer                      192    179          32        8         1
Professor                     343    343          55       10         1

In [44]:
# only 7 deans so have to remove 
df = df.loc[df['TitleNew'] != 'Dean']
df.head()

,FullName,Email,Title,Department,College,TitleNew
878,A. L. N. Rao,a.rao@ucr.edu,Professor of Plant Pathology & Microbiology,Microbiology & Plant Pathology,College of Nat & Agr Sciences,Professor
1318,Aalamgeer Ibrahim,aalamgeer.ibrahim@ucr.edu,"Assistant Clinical Professor, Health Sciences",SOM Neuroscience,School of Medicine,Assistant Professor
1396,Aaron Lee,aaron.lee@ucr.edu,Assistant Clinical Professor,SOM Medicine,School of Medicine,Assistant Professor
532,Aaron Seitz,aaron.seitz@ucr.edu,Professor of Psychology,Psychology,"Coll of Hum, Arts & Social Sci",Professor
179,Aaron Wiest,aaron.wiest@ucr.edu,Adjunct Professor NAVSEA Scientist,Material Sci/Engr Pgm,Bourns College of Engineering,Professor

In [86]:
df.groupby(['College']).nunique()

                                FullName  Email  Department  TitleNew
College
Bourns College of Engineering        146    146           9         6
CE - College of Nat & Ag Sci           3      3           3         2
Coll of Hum, Arts & Social Sci       330    330          21         5
College of Nat & Agr Sciences        259    259          15         5
Graduate School of Education          37     37           1         5
Provost/Exec Vice Chancellor           1      1           1         1
School of Business                    38     38           1         6
School of Medicine                   585    585          13         3
School of Public Policy               15     15           1         5

In [94]:
# daniel jeske doesnt teach. the provost vice chancellor 
df = df.loc[~df['College'].str.contains("Provost")]

In [99]:
# turn CE - College of Nat to College of Nat and Agr Sciences
df['College'].loc[df['College'] == 'CE - College of Nat & Ag Sci'] = 'Coll of Nat & Agr Sciences'

# double check
df.loc[df['College'] == 'CE - College']

Empty DataFrame
Columns: [FullName, Email, Department, College, TitleNew]
Index: []

In [61]:
df['SplitName'] = df['FullName'].str.split()
df.head()
#df = df.drop(columns=['SplitName'])

,FullName,Email,Title,Department,College,SplitName
0,Y Paul Aoyagi,NAN,Clinical Professor,Biomedical Sciences,Biomedical Sciences,"[Y, Paul, Aoyagi]"
1,Mary Ann Baker,mary.baker@ucr.edu,"Professor of Biomedical Sciences, Emeritus",Biomedical Sciences,Biomedical Sciences,"[Mary, Ann, Baker]"
2,Ravi K Berry,ravi.berry@ucr.edu,Assistant Clinical Professor,Biomedical Sciences,Biomedical Sciences,"[Ravi, K, Berry]"
3,Devin Binder,devin.binder@ucr.edu,"Professor in Residence, Biomedical Sciences",Biomedical Sciences,Biomedical Sciences,"[Devin, Binder]"
4,Craig Byus,craig.byus@ucr.edu,Professor of Biomedical Sciences and Biochemis...,Biomedical Sciences,Biomedical Sciences,"[Craig, Byus]"

In [63]:
cols = list(df.columns)
df = df[[cols[-1]] + cols[0:5]]
df.head()

,College,SplitName,FullName,Email,Title,Department
0,Biomedical Sciences,"[Y, Paul, Aoyagi]",Y Paul Aoyagi,NAN,Clinical Professor,Biomedical Sciences
1,Biomedical Sciences,"[Mary, Ann, Baker]",Mary Ann Baker,mary.baker@ucr.edu,"Professor of Biomedical Sciences, Emeritus",Biomedical Sciences
2,Biomedical Sciences,"[Ravi, K, Berry]",Ravi K Berry,ravi.berry@ucr.edu,Assistant Clinical Professor,Biomedical Sciences
3,Biomedical Sciences,"[Devin, Binder]",Devin Binder,devin.binder@ucr.edu,"Professor in Residence, Biomedical Sciences",Biomedical Sciences
4,Biomedical Sciences,"[Craig, Byus]",Craig Byus,craig.byus@ucr.edu,Professor of Biomedical Sciences and Biochemis...,Biomedical Sciences

In [65]:
# removes any titles included in the professor name
df['SplitName'] = df['FullName'].str.split('[,\:]').str[0].str.strip()

In [66]:
from titleAbbreviations import getAbbreviations
# double check if there are still occurences with titles in name

abbr = getAbbreviations()
filter = df.stack().str.contains('|'.join(abbr)).any(level=0)

C:\Users\KRISTO~1\AppData\Local\Temp/ipykernel_5724/2745155855.py:5: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.any(level=1) should use df.groupby(level=1).any()
  filter = df.stack().str.contains('|'.join(abbr)).any(level=0)

In [67]:
alldep = df[['Department','FullName']].groupby(by=['Department'], as_index=False).count().sort_values(by='FullName', ascending=False)
alldep
for index,val in alldep.iterrows():
    print(val[1],val[0])

185 SOM Internal Medicine
125 Dept. of Family Medicine
75 SOM Neuroscience
64 Biomedical Sciences
63 SOM Medicine
48 Botany and Plant Sciences
48 Graduate School of Education
47 Physics and Astronomy
45 SOM Surgery
45 School of Business
44 Computer Science & Engineering
42 Psychology
39 History
36 Electrical & Computer Eng
36 Chemistry
35 Entomology
34 Economics
33 Earth and Planetary Sciences
31 SOM Pediatrics
30 Environmental Sciences
30 Mathematics
29 Mechanical Engineering
27 English
26 Evolution, Ecology & Orgns Bio
26 Microbiology & Plant Pathology
25 Chemical/Environ. Engineering
25 Political Science
24 Anthropology
24 Molecular, Cell & Systems Bio
22 Media & Cultural Studies
22 Comparative Lit & Languages
20 SOM OB/GYN
19 Philosophy
19 Bioengineering
19 Sociology
19 Creative Writing
17 Biochemistry
16 Dance
15 SPP - Dean's Office
14 Statistics
14 Ethnic Studies
14 Music
12 Theatre
12 History of Art
12 MFA Writing Desert Campus
11 Religious Studies
10 Hispanic Studies
10 Gender & Sexuality Studies
10 Art
10 SOM - Dean's Office
7 Nematology
5 Social Med Popultn&Public Hlth
5 Undergrad Medical Ed
2 NAN
2 Engineering - Dean's Office
2 CE - Nematology
2 Acad Personnel - Gen Ops
1 SOM Finance & Administration
1 POEM Center in BCoE
1 Material Sci/Engr Pgm
1 Community Engagement
1 Cntr for Biblio. Studies
1 CNAS Dean's Office
1 CE-CERT
1 CE - Microbiology & Plant Path
1 CE - CNAS Dean's Office

In [36]:
df.loc[df.College == "School of Business"].sample(n=5,replace=False)
# df[df.College == "School of Business"]

,FullName,Email,Title,Department,College
1063,Greg Richey,greg.richey@ucr.edu,Assistant Professor of Teaching in Finance,School of Business,School of Business
1042,Long Gao,long.gao@ucr.edu,Associate Professor of Operations and Supply C...,School of Business,School of Business
1036,Alexander Barinov,alexander.barinov@ucr.edu,Assistant Professor of Finance,School of Business,School of Business
1034,Eric Allen,eric.allen@ucr.edu,Assistant Professor of Accounting,School of Business,School of Business
1041,Mohsen El Hafsi,mohsen.elhafsi@ucr.edu,Professor of Operations and Supply Chain Manag...,School of Business,School of Business